.messagesheader {
    padding-left: 20px;
    margin-bottom: 20px;
}

.test {
    text-align: left;
}

#leftCol {
    background-color: lightgray;
    min-width: 320px;
}

.leftCol2 {
    float: left;
    text-align: left;
    min-width: 600px;
    padding-left: 20px;
    margin-left: 0px;
}
#rightCol h1 {
    margin-bottom: 20px;
}
.rightCol {
    min-width: 500px;
    padding: 0 0 0 0;
}

.rightCol2 {
    text-align: right;
}

.test h1, .test button {
    display: inline-block;
    vertical-align: middle;
}

button {
    float: right;
    margin-top: 20px;
}

html,body,.container {
    height:100%;
}

.container {
    display:table;
    width: 100%;
    margin-top: 0;
    padding: 0 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

.row {
    height: 100%;
    display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}

.messageRowColor:nth-child(even) {
    background-color: lightcyan;
}

.messageRowColor:nth-child(odd) {
    background-color: #FFF;
}