<head>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-sm-3 no-float" id="leftCol">
            <ul class="nav nav-stacked" id="sidebar">
                <div class="test" ng-controller="ModalCtrl as modal">
                    <h1>Bloc Chat</h1>
                    <button class="btn btn-default" type="button" ng-click="modal.open()">Create room</button>
                </div>
                <div ng-repeat="room in home.rooms track by $index"><a href="" ng-click="home.setRoom(room.name);home.setMessages(room.$id);home.showDiv();home.setRoomId(room.$id)">{{room.name}}</a></div> 
            </ul>
          </div>
          <div class="col-sm-9 no-float rightCol">
              <div class="messagesheader">
                <h1>{{home.roomName}}</h1>
              </div>
              <div class="messageRowColor" ng-repeat="message in home.message track by $index">
                  <div>
                      <div class="col-md-8 no-float leftCol2">
                          <b>{{message.username}}</b><br>
                          <p>{{message.content}}</p>
                      </div>
                      <div class="col-md-4 no-float rightCol2">
                        <p>{{message.sentAt}}</p>
                      </div>
                 </div>
              </div>
              <div ng-show="home.visibility" class="textbox">
                  <form name="form.testform" data-ng-submit="home.sendMessage(home.newMessage, home.roomId)">
                      <input class="textbox2" type="text" name="messagebox" placeholder="Write your message here..." ng-model="home.newMessage">
                      <button type="submit" class="sendbutton">Send</button>
                  </form> 
              </div>
          </div>
        </div>
    </div>
</body>





