<!-- defines the layout UI of the add room prompt -->
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Set a username</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <h5>This name will appear when you send messages</h5>
            <form>
                <input type="text" ng-model="name" />
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="modal2.setusername(name)">Set username</button>
        </div>
